#cookieModal {
     background: rgba(black, 0.7);
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     .modal-dialog {
          background: white;
          position: fixed;
          margin: -90px auto 0 -200px;
          top: 50%;
          left: 50%;
          padding: 1.5em;
          .modal-body {
               .govuk-heading-l {
                    margin-bottom: 0.5em;
                    color: #00823b;
               }
               p {
                    color: #00823b;
               }
          }
          .modal-footer {
               margin-top: 1em;
               .govuk-button {
                    margin: 0 1em 0 0;
                    border: 2px solid #00823b;
                    color: #00823b;
                    background: white;
               }
          }
     }
}
