.editSearch {
	@media (max-width: 640px) {
		margin: 20px 0;
	}
	h2 {
		margin-top: 0;
	}
	a[href='#EditSearch'] {
		text-decoration: none;
		@media (min-width: 641px) {
			color: govuk-colour("black");
			cursor: default;
		}

		&:after {
			@media (max-width: 640px) {
				color: govuk-colour("black");
				display: inline-block;
				margin-left: 0.5em;
				content: "\25Bc";
			}
		}
	}
	&.folded {
		a[href='#EditSearch'] {
			&:after {
				@media (max-width: 640px) {
					content: "\25B6";
				}

			}
		}
		#EditSearch {
			@media (max-width: 640px) {
				display: none
			}
		}
	}
}

.autocomplete__wrapper {
	.autocomplete__hint {
		padding-left: 42px;
		position: absolute;
		width: 100%;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
	}
	.autocomplete__input {
		background: url('../../public/images/search.svg') no-repeat 10px 45%;
		background-size: 1em;
		padding-left: 40px;
	}
}
