{% extends "./layout--fat.html" %}

{% block content %}
{{ govukBackLink({
	text: "Back",
	href: "javascript:history.back()",
	classes: "govuk-!-margin-top-0"
}) }}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6">
			Find a training provider
			<span class="govuk-caption-xl">
				for {{data['course-name'] or "Accounting, level 2" }}
			</span>
		</h1>

		<form method="post" action="search-results--provider">
			{{ govukInput({
				label:
				{
					text: "Your postcode"
				},
				hint:
				{
					text: "We'll use this to sort your search results so that the closest provider to your location is shown first"
				},
				classes: "govuk-input--width-10",
				id: "employer-postcode",
				name: "employer-postcode"
			}) }}

			{{ govukButton({
				text: "Find training providers"
			})}}
		</form>
	</div>
</div>
{% endblock %}