{% extends "./layout--fat.html" %}

{% block content %}
{{ govukBackLink({
	text: "Back",
	href: "javascript:history.back()",
	classes: "govuk-!-margin-top-0"
}) }}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6">
			Find a training provider
			<span class="govuk-caption-xl">
				for {{data['course-name'] or "Accounting, level 2" }}
			</span>
		</h1>

		<form action="find-training-provider-by-course--postcode">
			{{ govukRadios({
				idPrefix: "training-delivery",
				name: "training-delivery",
				fieldset: 
				{
					legend: 
					{
						text: "Where will training for this apprenticeship take place?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--m"
					}
				},
				hint:
				{
					text: "Some providers only offer training at their location, while others may be willing to travel and deliver training at your location"
				},
				items: [
				{
					value: "anywhere",
					text: "I don't mind"
				},
				{
					divider: "or"
				},
				{
					value: "employer",
					text: "the training provider should travel to my organisation"
				},
				{
					value: "employer",
					text: "the apprentice will travel to the training provider"
				}
				]
			}) }}

			{{ govukButton({
				text: "Save and continue"
			})}}
		</form>
	</div>
</div>
{% endblock %}