{% extends "./layout--fat.html" %}

{% block content %}
{{ govukBackLink({
	text: "Back",
	href: "javascript:history.back()",
	classes: "govuk-!-margin-top-0"
}) }}

<div class="govuk-grid-row govuk-!-margin-top-8">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
			{{providerInfo.ProviderName}}
			<span class="govuk-caption-l">
				UKPRN: {{providerInfo.Ukprn}}
			</span>
		</h1>

		<a href="#" class="govuk-button govuk-!-margin-bottom-8">
			Add to shortlist
		</a>

		<h2 class="govuk-heading-m">
			About this provider
		</h2>

		<p>
			{{providerInfo.MarketingInfo | striptags(true) | escape | nl2br | replace('*','&bull;')}}
		</p>

		<hr class="govuk-section-break govuk-section-break--xl">

		{% include '_provider-rating-section.html' %}

		<hr class="govuk-section-break govuk-section-break--xl">

		<h3 class="govuk-heading-m">
			114 Apprenticeships offered
		</h3>

		{{ govukTable({
			caption: "Months and rates",
			firstCellIsHeader: true,
			head: [
			{
				text: "Apprenticeship"
			},
			{
				text: "Type"
			},
			{
				text: "Level",
				format: "numeric"
			},
			{
				text: "",
				format: "numeric"
			}
			],
			rows: [
			[
			{
				text: "Accounting"
			},
			{
				text: "Framework"
			},
			{
				text: "2",
				format: "numeric"
			},
			{
				html: '<a href="course?provider-link=true&course-link=false">Details</a>',
				format: "numeric"
			}
			],
			[
			{
				text: "Accounting"
			},
			{
				text: "Framework"
			},
			{
				text: "2",
				format: "numeric"
			},
			{
				html: '<a href="course?provider-link=true&course-link=false">Details</a>',
				format: "numeric"
			}
			],
			[
			{
				text: "Accounting"
			},
			{
				text: "Framework"
			},
			{
				text: "2",
				format: "numeric"
			},
			{
				html: '<a href="course?provider-link=true&course-link=false">Details</a>',
				format: "numeric"
			}
			]
			]
		}) }}

	</div>

	<div class="govuk-grid-column-one-third">
		<div class="app-related-items">
			<h3 class="govuk-heading-m">
				Contact details
			</h3>

			<p>
				<b>Website:</b>
				<br>
				<a href="{{providerInfo.Website}}">{{providerInfo.ProviderName}} website </a>
			</p>

			<p>
				<b>Phone number:</b>
				<br>
				{{providerInfo.Phone}}
			</p>

			<p>
				<b>Email:</b>
				<br>
				<a href="#">{{providerInfo.Email}}</a>
			</p>

			<p>
				<b>Address:</b>
				<br>
				{{providerInfo.ProviderName}}<br>
				{{providerInfo.Addresses[0].Street}}<br>
				{{providerInfo.Addresses[0].Town}}<br>
				{{providerInfo.Addresses[0].PostCode}}
			</p>

			<ul class="govuk-list govuk-!-font-size-16">
				<li>
					<a href="https://www.google.com/maps/search/?api=1&query={{providerInfo.ProviderName}} {{providerInfo.Addresses[0].PostCode}}" target="_blank">View on Google Maps</a>
				</li>
				<li>
					<a href="https://www.openstreetmap.org/search?query={{providerInfo.Addresses[0].Street}},{{providerInfo.Addresses[0].PostCode}}" target="_blank">View on Open Street Map</a>
				</li>
			</ul>
		</div>

		<h4 class="govuk-heading-s govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-margin-top-8">
			Content disclaimer
		</h4>
		<p class="govuk-!-font-size-14">
			Education and Skills Funding Agency cannot guarantee the accuracy of course information on this site and makes no representations about the quality of any courses which appear on the site. Education and Skills Funding Agency is not liable for any losses suffered as a result of any party relying on the course information provided.
		</p>
	</div>

	{% endblock %}
