{% extends "./layout--fat.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-4">
            Find apprenticeship training
        </h1>
        <p>
            For employers looking to take on apprentices.
        </p>

        <p>
            Use this service to:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>search for apprenticeship training by job role or keyword</li>
            <li>find training providers who offer the apprenticeship training you choose</li>
            <li>find a named training provider you want to use</li>
        </ul>

        <p>
            <a href="apprenticeship-or-provider" class="govuk-button govuk-button--start">
                Start
            </a>
        </p>

        <h2 class="govuk-heading-m">
            Help
        </h2>

        <p>
            You can contact the National Apprenticeship Service for advice or help using the service.
        </p>

        <p>
            <b>National Apprenticeship Service</b>
            <br>
            Telephone: 0800 015 0600 Find out about call charges
        </p>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="app-related-items govuk-!-margin-top-6" style="padding-top: 15px">
            <h2 class="govuk-heading-m">
                Related links
            </h2>

            <ul class="govuk-body-s govuk-list">
                <li>
                    <a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship</a>
                </li>
                <li>
                    <a href="https://nationalcareersservice.direct.gov.uk/">National Careers Service</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/take-on-an-apprentice">Employing an apprentice</a>
                </li>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <li>
                    <span class="govuk-!-margin-bottom-2 govuk-!-display-block">
                        <a href="#">Download all data about training providers</a>
                    </span>

                    <span>
                        You can download all data about the training providers shown in this service.
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
