.filters {
	padding: 0;
	display: block;
	margin: 0 0 20px 0;
	border: 1px solid govuk-colour("grey-3");
	overflow: hidden;
	
	.toggler {
		clear: both;
		background: govuk-colour("grey-3");
		box-sizing: border-box;
		width: 100%;
		padding: 5px 30px 5px 10px;
		margin: 0;
		top: 0;
		float: none;
		position: relative;
		cursor: pointer;

		&:after {
			position: absolute;
			display: block;
			height: 100%;
			transform: scaleY(-1);
			top: -7px;
			right: 10px;
			text-align: center;
			vertical-align: middle;
			content: "\2303";
		}
	}

	li {
		margin-bottom: .5em;
	}

	.toggler + .toggled-content {
		padding: 20px;
	}
	
	.toggled-content {
		display: none;
	}

	&.unfolded {
		.toggler {
			&:after {
				top: 9px;
				transform: scaleY(1);
			}

		}
		.toggled-content {
			display: block;
		}
	} 
}