{% extends "./layout--fat.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-8">
            Find apprenticeship training
        </h1>

        <form method="post">
            {{ govukRadios({
                idPrefix: "apprenticeship-or-provider",
                name: "apprenticeship-or-provider",
                fieldset:
                {
                    legend:
                    {
                        text: "Search by apprenticeships or named training provider",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--s"
                    }
                },
                items: [
                {
                    value: "apprenticeships",
                    text: "apprenticeships"
                },
                {
                    value: "training-provider",
                    text: "the name of a training provider you already know"
                }
                ]
            }) }}

            <input value="" name="search-term" type="hidden">

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
