{% extends "layout.html" %}

{% set currentPage = 'apprentices' %}
{% set serviceName = 'Give feedback' %}

{% block content %}
{{ govukBackLink({
	text: "Back",
	href: "javascript:history.back()",
	classes: "govuk-!-margin-top-0"
}) }}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-top-6">
			Things for Cyberdyne to improve 
		</h1>

		<form action="quality">
		{% import './_ratings-criteria.html' as criteria %}

		<div class="govuk-form-group">
			<fieldset class="govuk-fieldset" aria-describedby="improvements-hint">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					What could Cyberdyne Inc improve?
				</legend>

				<span id="improvements-hint" class="govuk-hint">
					Select as many as you like.
				</span>

				<div class="govuk-checkboxes">
					{% for item in criteria.items %}
					<div class="govuk-checkboxes__item">
						<input class="govuk-checkboxes__input" id="improvements-{{item.value}}" name="improvements" value="{{item.value}}" type="checkbox" {{ 'disabled' if item.value in data['strengths'] }} {{ checked("improvements",item.value) }}>
						<label class="govuk-label govuk-checkboxes__label" for="improvements-{{item.value}}">
							{{item.text}}
						</label>
					</div>
					{% endfor %}
				</div>
			</fieldset>
		</div>

		{{ govukButton({
				text: "Continue"
			}) }}
		</form>


		<p>
			<a href="#">Skip this question</a>
		</p>
	</div>
</div>

{% endblock %}
