{% set items = [{
	value: "Training quality",
	text: "Training quality"
},
{
	value: "Communication between you and Cyberdyne",
	text: "Communication between you and Cyberdyne"
},
{
	value: "Onboarding new apprentices",
	text: "Onboarding new apprentices"
},
{
	value: "Improving apprentice skills",
	text: "Improving apprentice skills"
},
{
	value: "Improving business outcomes",
	text: "Improving business outcomes"
},
{
	value: "Design of training",
	text: "Design of training"
},
{
	value: "Delivery of training",
	text: "Delivery of training"
},
{
	value: "Recruiting apprentices",
	text: "Recruiting apprentices"
},
{
	value: "Assessing and reporting on progress of apprentices",
	text: "Assessing and reporting on progress of apprentices"
},
{
	value: "Adapting to my needs",
	text: "Adapting to my needs"
}] %}