{% extends "./layout--fat.html" %}

{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-8">
               Find apprenticeship training
          </h1>

          <form method="post" id="fat-search">
          <div class="govuk-form-group">
            <label class="govuk-label" for="job-role">
                Apprenticeship name or job role
              </label>
              <span id="fat-search-hint" class="govuk-hint">
                  Start typing the apprenticeship name
                </span>
                <div id="search-wrapper">
                </div>
          </div>

               {{ govukButton({
                    text: "Search apprenticeship training"
               }) }}
          </form>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <p>
               You can also <a href="search-by-provider">search for a training provider</a>
          </p>
     </div>
</div>


{% endblock %}
