{% extends "./layout--fat.html" %}

{% block content %}
{{ govukBackLink({
	text: "Back",
	href: "javascript:history.back()",
	classes: "govuk-!-margin-top-0"
}) }}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-8">
			Find a training provider by name
		</h1>

		<form method="post">
			{{ govukInput({
				label:
				{
					text: "Enter a training provider name",
					classes: "govuk-!-font-weight-bold"
				},
				id: "search-term",
				name: "search-term",
				value: data['search-term']
			}) }}

			{{ govukButton({
				text: "Search"
			}) }}
		</form>

		{% if data['search-term'] %}
		<hr class="govuk-section-break govuk-section-break--m">

		<p>
			<b>{{providerResults.length}} results found</b>
		</p>

		{% for result in providerResults %}
		<ul class="govuk-list">
			<li>
				<a href="provider?ukprn={{result.Ukprn}}">
					{{result.ProviderName}}
				</a>
			</li>
		</ul>
		{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}