{% extends "layout.html" %}

{% set currentPage = 'apprentices' %}
{% set serviceName = 'Give feedback' %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-4">
            Give feedback on Cyberdyne
        </h1>
        <p>
            Give feedback to let other employers know how Cyberdine is doing so it can can continuously improve its apprenticeship training.
        </p>

        <p>
            It's just 3 questions and it's anonymous.
        </p>

        <h2 class="govuk-heading-m">
            Before you start
        </h2>

        <p>
            To give feedback, you'll need to have a good understanding of your organisation's relationship with Cyberdyne.
        </p>

        <p>
            <a href="strengths" class="govuk-button govuk-button--start">
                Start
            </a>
        </p>
    </div>
</div>

{% endblock %}
