{% extends "./layout--fat.html" %}

{% block beforeContent %}
{{ govukPhaseBanner({
	tag:
	{
		text: "beta"
	},
	html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
{{ govukBackLink({
	text: "Back",
	href: "#"
}) }}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-8">
			Find a training provider by name
		</h1>

		<form>
			{{ govukInput({
				label:
				{
					text: "Enter a training provider name",
					classes: "govuk-!-font-weight-bold"
				},
				id: "search-term",
				name: "search-term",
				value: data['search-term']
			}) }}

			{{ govukButton({
				text: "Search"
			}) }}
		</form>

		{% if data['search-term'] %}
		<hr class="govuk-section-break govuk-section-break--m">

		<p>
			<b>4 results found</b>
		</p>

		<ul class="govuk-list">
			<li>
				<a href="provider">
					Result
				</a>
			</li>
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}