{% set items = [{
	value:"All routes",
	text: "All routes",
	selected: true
},
{
	value:"Agriculture, environmental and animal care",
	text: "Agriculture, environmental and animal care"
},
{
	value: "Business and administration",
	text: "Business and administration"
},
{
	value: "Care services",
	text: "Care services"
},
{
	value: "Catering and hospitality",
	text: "Catering and hospitality"
},
{
	value: "Construction",
	text: "Construction"
},
{
	value: "Creative and design",
	text: "Creative and design"
},
{
	value: "Digital",
	text: "Digital"
},
{
	value: "Education and childcare",
	text: "Education and childcare"
},
{
	value: "Engineering and manufacturing",
	text: "Engineering and manufacturing"
},
{
	value: "Hair and beauty",
	text: "Hair and beauty"
},
{
	value: "Health and science",
	text: "Health and science"
},
{
	value: "Legal, finance and accounting",
	text: "Legal, finance and accounting"
},
{
	value: "Protective services",
	text: "Protective services"
},
{
	value: "Sales, marketing and procurement",
	text: "Sales, marketing and procurement"
},
{
	value: "Transport and logistics",
	text: "Transport and logistics"
}] %}