{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'prototype-home' %}
{% set serviceName = "ESFA" %}

{% block main %}
<div class="homepage-top">
	<div class="homepage-top-content">
		<h1 class="govuk-heading-xl">
			Find apprenticeship training
			<br>
			Provide feedback
			<span class="govuk-caption-xl">Prototypes</span>
		</h1>
	</div>
</div>

<div class="govuk-width-container">
	<main class="govuk-main-wrapper" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h2 class="govuk-heading-l">
					<span class="govuk-caption-m">LATEST</span>
					Version 4
				</h2>
				<p>
					New autocomplete functionality added, and the addition of the suggested results
				</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						<a href="version-4/fat">Find apprenticeship training</a>
					</li>
					<li>
						<a href="version-4/give-feedback">Give feedback</a>
					</li>
				</ul>

				<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

				<h2 class="govuk-heading-l">
					Other versions
				</h2>

				<!-- ////////////////// VERSION 3 - START ////////////////// -->
				<h2 class="govuk-heading-m">
					Version 3
				</h2>
				<p>
					{DESCRIPTION}
				</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						<a href="version-3/fat">Find apprenticeship training</a>
					</li>
					<li>
						<a href="version-3/give-feedback">Give feedback</a>
					</li>
				</ul>
				<!-- ////////////////// VERSION 3 - END ////////////////// -->

				<!-- ////////////////// VERSION 2 - START ////////////////// -->
				<h2 class="govuk-heading-m">
					Version 2
				</h2>
				<p>
					This version just explores some minor tweaks to the existing journey, but <b><u>should not</u></b> be considered a suggestion of how the service might look in the future.
				</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						<a href="version-2/fat">Find apprenticeship training</a>
					</li>
					<li>
						<a href="version-2/give-feedback">Give feedback</a>
					</li>
				</ul>
				<!-- ////////////////// VERSION 2 - END ////////////////// -->

				<hr class="govuk-section-break govuk-section-break--xl">

				<h3 class="govuk-heading-m">
					Current (as live)
				</h3>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						<a href="version-1/fat">Find apprenticeship training</a>
					</li>
					<li>
						<a href="version-1/give-feedback">Give feedback</a>
					</li>
				</ul>
			</div>
		</div>
	</main>
</div>
{% endblock %}
