{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% set bodyClasses = 'prototype-home' %}
{% set serviceName = "ESFA" %}

{% block main %}
<div class="homepage-top">
	<div class="homepage-top-content">
		<h1 class="govuk-heading-xl">
			Find apprenticeship training
			<br>
			Provide feedback
			<span class="govuk-caption-xl">Prototypes</span>
		</h1>
	</div>
</div>

<div class="govuk-width-container">
	<main class="govuk-main-wrapper" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h2 class="govuk-heading-m">
					Version 2 &nbsp; <span class="govuk-tag" style="vertical-align: top; padding: 4px 12px">latest</span>
				</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						<a href="version-2/fat">Find apprenticeship training</a>
					</li>
					<li>
						<a href="version-2/give-feedback">Give feedback</a>
					</li>
				</ul>

				<h2 class="govuk-heading-m">
					Current (as live)
				</h2>
				<ul class="govuk-list govuk-list--bullet">
					<li>
						<a href="version-1/fat">Find apprenticeship training</a>
					</li>
					<li>
						<a href="version-1/give-feedback">Give feedback</a>
					</li>
				</ul>
			</div>
		</div>
	</main>
</div>
{% endblock %}
